[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
boto3 = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"

[packages]
ipython = "*"

[requires]
python_version = "3.8"
